/* Animated Search Bar */
.search-container {
  position: relative;
}

.search-form {
  position: relative;
  width: 100%;
  max-width: 13em;
}

.search-input,
.search-caret {
  display: block;
  transition: all 0.5s linear;
  margin: auto;
}

.search-input {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.125em hsl(var(--foreground)) inset;
  caret-color: hsl(var(--primary));
  color: hsl(var(--foreground));
  width: 1.25em;
  height: 1.25em;
  font-size: 0.875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: hsl(var(--muted-foreground));
  opacity: 0;
  transition: opacity 0.25s ease;
}

.search-input:focus::placeholder,
.search-input:valid::placeholder {
  opacity: 1;
  transition-delay: 0.25s;
}

.search-input:focus,
.search-input:valid {
  background: hsl(var(--muted) / 0.6);
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0.5em 0.75em;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  width: 100%;
  height: 2em;
}

.search-input:focus {
  animation: showCaret 1s steps(1);
  outline: transparent;
}

.search-input:focus + .search-caret,
.search-input:valid + .search-caret {
  animation: handleToCaret 1s linear;
  background: transparent;
  width: 1px;
  height: 1em;
  transform: translate(0, -0.625em) rotate(-180deg) translate(4.75em, -0.15em);
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-label {
  color: hsl(var(--muted-foreground));
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.search-caret {
  background: hsl(var(--foreground));
  border-radius: 0 0 0.0625em 0.0625em;
  margin-bottom: -0.375em;
  width: 0.125em;
  height: 0.625em;
  transform: translate(0, -0.625em) rotate(-45deg) translate(0, 0.55em);
  transform-origin: 50% 0;
  pointer-events: none;
}

/* Animations */
@keyframes showCaret {
  from {
    caret-color: transparent;
  }
  to {
    caret-color: hsl(var(--primary));
  }
}

@keyframes handleToCaret {
  from {
    background: hsl(var(--foreground));
    width: 0.125em;
    height: 0.625em;
    transform: translate(0, -0.625em) rotate(-45deg) translate(0, 0.55em);
  }
  25% {
    background: hsl(var(--foreground));
    width: 0.125em;
    height: 0.625em;
    transform: translate(0, -0.625em) rotate(-180deg) translate(0, 0.55em);
  }
  50%,
  62.5% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.625em) rotate(-180deg) translate(4.75em, 1.5em);
  }
  75%,
  99% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.625em) rotate(-180deg) translate(4.75em, -0.15em);
  }
  87.5% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.625em) rotate(-180deg) translate(4.75em, 0.1em);
  }
  to {
    background: transparent;
    width: 1px;
    height: 1em;
    transform: translate(0, -0.625em) rotate(-180deg) translate(4.75em, -0.15em);
  }
}

@keyframes handleToCaret {
  from {
    background: hsl(var(--foreground));
    width: 0.15em;
    height: 0.6em;
    transform: translate(0, -0.75em) rotate(-45deg) translate(0, 0.5em);
  }
  25% {
    background: hsl(var(--foreground));
    width: 0.15em;
    height: 0.6em;
    transform: translate(0, -0.75em) rotate(-180deg) translate(0, 0.5em);
  }
  50%,
  62.5% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.75em) rotate(-180deg) translate(6em, 1.5em);
  }
  75%,
  99% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.75em) rotate(-180deg) translate(6em, -0.25em);
  }
  87.5% {
    background: hsl(var(--primary));
    width: 1px;
    height: 1em;
    transform: translate(0, -0.75em) rotate(-180deg) translate(6em, 0em);
  }
  to {
    background: transparent;
    width: 1px;
    height: 1em;
    transform: translate(0, -0.75em) rotate(-180deg) translate(6em, -0.25em);
  }
}
